.registration-media{
	text-align: $dz-pos-right;
	position: relative;
	z-index: 1;
	margin: auto;
	margin-top: -90px;

	@include respond('laptop'){
		margin-top:0;
	}
	
	@include custommq($max:991px, $min:300px){
		position: absolute;
		margin-top: 0px;
		#{$dz-pos-right}: 10%;
		bottom: 0;
	}

	@include respond('phone'){
		#{$dz-pos-right}: 5%;
	}
	
	img{
		@include respond('laptop'){
			height: 600px;
			width: 100%;
			object-fit: contain;
			object-position: bottom;
		}
		@include respond('tab-port'){
			height: auto;
		}
		@include custommq($max:991px, $min:300px){
			height: 280px;
			object-fit: contain;
		}
		@include respond('phone-land'){
			height:240px;
		}
	}
}
.start-side-content{
	padding:120px 80px 0 80px;
	position:relative;
	background:#F6F6F6;
	z-index: 1;
	&:after{
		content: "";
		position: absolute;
		bottom: 0px;
		#{$dz-pos-left}: 16%;
		width: 51%;
		height:60%;
		background: rgb(255, 255, 255);
		border-radius: 50% 50% 0px 0px;
		z-index: -2;
	}
	@include custommq($max:991px, $min:300px){
		padding:120px 80px 80px 80px;
		height: 400px;
		display: flex;
		align-items: center;
		&:after{
			#{$dz-pos-left}: auto;
			width: 200px;
			height: 250px;
			#{$dz-pos-right}: 12%;
		}
	}
	@include respond('tab-land'){
	    padding: 120px 20px 0px;
	}
	@include respond('tab-port'){
	    padding: 120px 15px 0px;
	}
	@include respond('phone-land'){
		padding:120px 30px 80px 30px;
		height:330px;
		.dz-bnr-inr-entry{
			h1{
				font-size:26px;
				line-height: 1.1;
			}
		}
		&:after{
			width: 160px;
			height: 218px;
			#{$dz-pos-right}: 4%;
		}
	}
	@include respond('phone'){
		padding:120px 15px 80px 15px;
	}
}
.end-side-content{
	display: flex;
	flex-direction: column;
	height: 100vh;
    padding-top: 84px;
    min-height: 955px;
    max-height: 1080px;
	@include custommq($max:1024px, $min:300px){
		padding:50px;
	}
	@include respond('tab-port'){
		height: unset;
		min-height: unset;
	}
	@include respond('phone-land'){
		padding:60px;
	}
	@include respond('phone'){
		padding:80px 15px 30px;
	}
}

.login-area{
	border:1px solid var(--border-color);
	max-width:450px;
	margin:auto;
	border: none;
	background:var(--bg-primary-light);
	width: 100%;

	.login-head{
		font-size: 28px;
		font-weight: 600;
		font-family: var(--font-faimly-base);
	}
	.login-title{
		text-align: center;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		color: #666;
		z-index: 1;
		display: flex;
		margin: 30px 0 25px 0px;
		font-family: var(--font-faimly-base);
		align-items: center;
		&::before, &::after{
			content: "";
			height: 1px;
			flex: 1 1;
			left: 0;
			background-color:#666666;
			top: 50%;
			z-index: -1;
			margin: 0;
			padding: 0;
		}
		
		span{
			padding: 0 10px;
			color: #666666;
		}
	}
		::placeholder {
			color: #666666;	
		}	
@include respond('tab-land'){
		padding: 30px;	
	}
	@include respond('phone'){
		padding: 15px;
	}
	form{
		.label-title{
			margin-bottom:5px;
			font-weight: 500;
			font-size: 16px;
		}
		
	}
}


.login-slider{
	height:100%;
	.banner-login{
		position:relative;
		z-index:1;
		height: 100%;
		background-size: cover;
		background-color: #fff;
		@include respond('tab-port'){
			height:100vh;
		}
		@include respond('phone-land'){
			height:60vh;
		}
		.banner-content{
			position:absolute;
			bottom:70px;
			padding: 0 30px 0 90px;
			@include respond('laptop'){
				padding: 0 30px 0 70px;
			}
			@include respond('tab-port'){
				bottom:100px;
				padding:0 90px 0 70px;
			}
			@include respond('phone-land'){
				bottom:70px;
				padding:0 50px 0 50px;
			}
			@include respond('phone'){
				bottom:70px;
				padding:0 30px 0 30px;
			}
			.title{
				color: #fff;
				font-size: 45px;
				font-weight: 400;
				max-width:820px;
				margin-bottom: 55px;
				line-height: 1.2;
				@include respond('laptop'){
					font-size: 50px;
				}
				@include respond('tab-land'){
					margin-bottom: 35px;
					font-size: 25px;
				}
				@include respond('phone-land'){
					font-size: 28px;
				}
			}
			.text{
				color:#fff;				
				max-width:755px;
				margin-bottom:20px;
				@include respond('tab-land'){
					font-size: 14px;
				}
				@include respond('phone-land'){
					font-size: 13px;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 70%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 39.33%, rgba(0, 0, 0, 0.40) 100%);
			z-index: -2;
		}
	}
}

.login-slider {
	.num-pagination {
		position: absolute;
		bottom: 55px;
		right: 20%;
		@include respond("tab-port"){
			
		}
		.swiper-pagination-bullet {
			color: #ffffff;
			font-weight: 500;
			font-size: 20px;
			&.swiper-pagination-bullet-active {
				transform: scale(1.5) translateY(-3px);
			}
		}
		@include respond('tab-land'){
			right:30%;
		}
		@include respond('phone-land'){
			right:30%;
		}
		@include respond('phone'){
			right:50%;
			bottom:40px;
		}
	}
	.main-btn {
		position: absolute;
		display: flex;
		bottom: 70px;
		right: 60px;
		z-index: 1;
		.btn-prev,
		.btn-next{
			color: red;
			font-size: 24px;
			background-color: transparent;
			border: 1px solid #fff;
			margin:0 10px;

			svg{
				path{
					fill: transparent;
					stroke: #fff;
				}
			}
			&.active,
			&:hover{
				background-color:#fff;
				svg{
					path{
						stroke: var(--title);
					}
				}
			}
		}
		
		@include respond('tab-port'){
			bottom: 105px;
		}
		@include respond ("phone-land"){
			bottom: 70px;
		}
		@include respond('phone'){
			right: 50px;
		}
	}
}
.rating-box{
	.rating-title{
		font-size: 28px;
		font-weight: 500;
		color:#fff ;
		margin: 0;
		font-family: var(--font-faimly-base);

		@include respond ("phone-land"){
			font-size: 22px;
		}
	}
}
.registration-rating{
	display: flex;	
}


.dz-search-password{
	position:relative;
	.show-pass{
		cursor: pointer;
		position: absolute;
		right: 0;
		height: 100%;
		width: 50px;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index:9;
		.eye-close {
			display: block;
		}
		.eye-open{
			display: none;
		}
		&.active{
			.eye-close {
				display: none;
			}
			.eye-open{
				display: block;
			}
		}
	}
}

.input-recaptcha{
	@include respond("phone"){
		margin-bottom: 0;
	}
}